.navbar-buttons{
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
}

.navbar-buttons:hover{
   cursor: pointer;
    color: white;
    background-color: red;
    transition: linear 300ms;
}